<div class="portlet portlet-sortable light bordered formPortlet {{nodeId}}" data-form-type="{{inFormData.Type}}">
  <div class="portlet-title">
      <div class="caption {{fontClass}}">
          <span class="caption-subject bold uppercase"> Database Formu</span>
      </div>
      <div class="tools">
          <a href="" class="collapse" data-original-title="" title=""> </a>
          <a href="" class="remove" data-original-title="" title="" data-target-node="{{nodeId}}"> </a>
      </div>
  </div>
<div class="portlet-body">
  <form class="form-horizontal databaseForm" role="form">
      <div class="form-body">
          <div class="form-group">
              <label class="col-md-3 control-label">Connection String</label>
              <div class="col-md-9">
                  <input type="text" class="form-control" placeholder="ConnectionString" value="{{inFormData.ConnectionString}}" name="ConnectionString">
              </div>
          </div>
          <div class="form-group">
              <label class="col-md-3 control-label">Sp Name</label>
              <div class="col-md-9">
                  <input type="text" class="form-control" placeholder="SpName" value="{{inFormData.SpName}}" name="SpName">
              </div>
          </div>
          <div class="form-group">
            <div class="col-md-12">
              <div class="table-toolbar">
                   <div class="row">
                       <div class="col-md-6">
                           <div class="btn-group">
                             <button id="{{inFormData.btnID}}" class="btn green newParameter"> Yeni Parametre
                                   <i class="fa fa-plus"></i>
                               </button>
                           </div>
                       </div>
                   </div>
               </div>
               <table class="table table-bordered table-hover">
                                                           <thead>
                                                               <tr>
                                                                   <th> Parameter Direction</th>
                                                                   <th> Variable Type </th>
                                                                   <th> Parameter </th>
                                                                   <th> Delete </th>
                                                               </tr>
                                                           </thead>
                                                           <tbody>
                                                             {{#each inFormData.Parameters}}

                                                               <tr>
                                                                   <td>
                                                                     <select class="js-table-select directionSelect">
                                                                       <option value="0">In</option>
                                                                       <option value="1">Out</option>
                                                                     </select>
                                                                   </td>
                                                                   <td>
                                                                     <select class="js-table-select typeSelect">
                                                                       <option value="0">Int</option>
                                                                       <option value="1">Double</option>
                                                                       <option value="2">String</option>
                                                                       <option value="3">DateTime</option>
                                                                       <option value="4">Bool</option>
                                                                       <option value="5">Complex</option>
                                                                     </select>
                                                                   </td>
                                                                   <td> <input type="text" class="form-control formParameter" value="{{Variable}}"> </td>
                                                                   <td>
                                                                       <a href="#" class="deleteParameter"> Delete </span>
                                                                   </td>
                                                               </tr>
                                                               {{/each}}

                                                           </tbody>
                                                       </table>
            </div>
          </div>
      </div>
 </form>
</div>
</div>
