<!-- BEGIN CONTENT BODY -->
<div class="page-content" style="padding-top:0">
    <div class="row">
      <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="{{icon}} font-dark"></i>
                    <span class="caption-subject font-dark sbold uppercase">{{cType}} Duzenle</span>
                    <input type="hidden" id="cType" value="{{cType}}">
                </div>
            </div>
            <div class="portlet-body form">
              <div class="row">
                <div class="col-md-9">
                  <form class="form-horizontal comp2Form" role="form">
                      <div class="form-body">
                          <div class="form-group">
                              <label class="col-md-3 control-label">Proje Adi:</label>
                              <div class="col-md-9">
                                  <input type="text" class="form-control" placeholder="{{cType}} Adi" value="{{name}}">
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-md-3 control-label">Durumu:</label>
                              <div class="col-md-9">
                                <div class="mt-radio-inline">
                                    <label class="mt-radio">
                                        <input type="radio" name="optionsRadios" id="optionsRadios25" value="option1" checked=""> Aktif
                                        <span></span>
                                    </label>
                                    <label class="mt-radio">
                                        <input type="radio" name="optionsRadios" id="optionsRadios26" value="option2"> Pasif
                                        <span></span>
                                    </label>
                                </div>
                              </div>
                          </div>
                          <div class="form-group">
                            <label class="col-md-3 control-label">Sunucular:</label>
                            <div class="col-md-9">
                              <div class="mt-checkbox-inline">
                                {{#each servers}}
                                <label class="mt-checkbox">
                                    <input type="checkbox" id="inlineCheckbox21" value="{{this.id}}"> {{this.name}}
                                    <span></span>
                                </label>
                                {{/each}}
                              </div>
                            </div>
                          </div>
                      </div>
                  </form>
                </div>
              </div>

            </div>
      </div>
      </div>
    </div>
</div>
<!-- END CONTENT BODY -->
