<!-- BEGIN CONTENT BODY -->
<div class="page-content" style="padding-top:0">
    <div class="row">
      <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="{{icon}} font-dark"></i>
                    <span class="caption-subject font-dark sbold uppercase">  {{Name}}</span>
                    <input type="hidden" id="cType" value="{{cType}}">
                </div>
                <span class="font-dark sbold uppercase componentDetails">{{Type}} Details</span>
            </div>
            <div class="portlet-body form">
                <form class="form-horizontal compForm" role="form">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Name</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" placeholder="{{Type}} Adi" value="{{Name}}" name="Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Comment</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" placeholder="{{Type}} Comment" value="{{Description}}" name="Description">
                            </div>
                        </div>
                        <div class="form-group">
                          <label class="col-md-3 control-label">Is Active?</label>
                            <div class="col-md-9">
                              <label class="mt-checkbox">
                                  {{#if IsActive}}
                                    <input type="checkbox" class="form-control IsActiveCheckbox" checked>
                                  {{else}}
                                    <input type="checkbox" class="form-control IsActiveCheckbox">
                                  {{/if}}
                                  <span></span>
                              </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Server(s)</label>
                            <div class="col-md-9">
                              <select class="ivrServersList" multiple="multiple">
                               {{#each ivrServers}}
                                    <option value="{{Id}}">{{Name}}</option>
                               {{/each}}
                              </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Is Checked Out?</label>
                            <div class="col-md-9">
                                <label class="mt-checkbox">
                                    {{#if IsCheckedOut}}
                                    <input type="checkbox" class="form-control" checked disabled>
                                    {{else}}
                                    <input type="checkbox" class="form-control" disabled>
                                    {{/if}}
                                    <span></span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Last Checked Out By</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" value="{{CheckOutUserName}}" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Version</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" value="{{MajorVersion}}.{{MinorVersion}}" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Publish Time</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" value="{{PublishTime}}" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-0 col-md-12 text-right">
                                {{#if OldVersion}}
                                <a class="getLastProject btn default green" data-type={{Type}} data-id="{{Id}}"  data-major="{{MajorVersion}}"  data-minor="{{MinorVersion}}" style="display:inline-block"> Get Last </a>
                                <a class="getSpesificVersion btn default green" data-type={{Type}} data-id="{{Id}}" style="display:inline-block"> Get Spesific Version </a>
                                <a class="btn downgradeProject green" data-type={{Type}} data-id="{{Id}}">Downgrade</a>
                                {{else}}
                                <a class="getSpesificVersion btn default green" data-type={{Type}} data-id="{{Id}}" style="display:inline-block"> Get Spesific Version </a>
                                {{#if IsCheckedOut}}
                                <a class="undoCheckOut btn default green" data-type={{Type}} data-id="{{Id}}" style="display:inline-block"> Undo Checkout </a>
                                {{else}}
                                {{/if}}
                                <a class="removeComp1 btn red-soft" data-type={{Type}} data-id="{{Id}}" style="display:inline-block">Remove</a>
                                <a class="resetComp1 btn green-soft" data-type={{Type}} data-id="{{Id}}" style="display:inline-block">Cancel</a>
                                <button type="submit" class="btn  blue-madison" data-type={{Type}} data-id="{{Id}}">Save</button>
                                {{#if IsCheckedOut}}
                                <a class="btn publishProject green" data-type={{Type}} data-id="{{Id}}">Publish</a>
                                {{else}}
                                {{/if}}
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </form>
            </div>
      </div>
      </div>
    </div>
</div>
<!-- END CONTENT BODY -->
