<!-- BEGIN CONTENT BODY -->
<div class="page-content" style="padding-top:0">
    <div class="row">
      <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="{{icon}} font-dark"></i>
                    <span class="caption-subject font-dark sbold uppercase">{{Type}} Duzenle</span>
                    <input type="hidden" id="cType" value="{{cType}}">
                </div>
            </div>
            <div class="portlet-body form">
                <form class="form-horizontal compForm" role="form">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Name</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" placeholder="{{Type}} Adi" value="{{Name}}" name="Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Description</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" placeholder="{{Type}} Description" value="{{Description}}" name="Description">
                            </div>
                        </div>
                        <div class="form-group">
                          <label class="col-md-3 control-label">Is Active?</label>
                            <div class="col-md-9">
                              <label class="mt-checkbox">
                                  {{#if IsActive}}
                                    <input type="checkbox" class="form-control IsActiveCheckbox" checked>
                                  {{else}}
                                    <input type="checkbox" class="form-control IsActiveCheckbox">
                                  {{/if}}
                                  <span></span>
                              </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Servers</label>
                            <div class="col-md-9">
                              <select class="ivrServersList" multiple="multiple">
                               {{#each ivrServers}}
                                    <option value="{{Id}}">{{Name}}</option>
                               {{/each}}
                              </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-7 col-md-5 text-right">
                              <a class="resetComp1 btn red-soft" data-type={{Type}} data-id="{{Id}}" style="display:inline-block">SIFIRLA</a>
                                <button type="submit" class="btn  blue-madison" data-type={{Type}} data-id="{{Id}}">KAYDET</button>
                                <a class="btn publishProject green" data-type={{Type}} data-id="{{Id}}">PUBLISH</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
      </div>
      </div>
    </div>
</div>
<!-- END CONTENT BODY -->
