<!-- BEGIN CONTENT BODY -->
<div class="page-content" style="padding-top:0">
    <div class="row">
      <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="{{icon}} font-dark"></i>
                    <span class="caption-subject font-dark sbold uppercase">{{Type}} Duzenle</span>
                    <input type="hidden" id="cType" value="{{cType}}">
                </div>
            </div>
            <div class="portlet-body form">
                <form class="form-horizontal compForm" role="form">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Name</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" placeholder="{{Type}} Adi" value="{{Name}}" name="Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Accounts</label>
                            <div class="col-md-9">
                              <select class="ivrAccountsList" multiple="multiple">
                               {{#each ivrAccounts}}
                                    <option value="{{Id}}">{{Name}}</option>
                               {{/each}}
                              </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Menus</label>
                            <div class="col-md-9">
                              <select class="routingMenuList">
                               {{#each Projects}}
                                  <optgroup label="{{Name}}">
                                     {{#each Menus}}
                                        <option value="{{Id}}">{{Name}}</option>
                                      {{/each}}
                                  </optgroup>
                               {{/each}}
                              </select>
                            </div>
                        </div>
                        <div class="form-group">
                          <label class="col-md-3 control-label">Has Day ?</label>
                            <div class="col-md-9">
                              <label class="mt-checkbox">
                                  {{#if HasDay}}
                                    <input type="checkbox" class="form-control hasDayCheckbox" checked>
                                  {{else}}
                                    <input type="checkbox" class="form-control hasDayCheckbox">
                                  {{/if}}
                                  <span></span>
                              </label>
                            </div>
                        </div>
                        <div class="form-group">
                          <label class="col-md-3 control-label">Days</label>
                            <div class="col-md-9">
                              <div class="mt-checkbox-inline">
                                {{#if HasDay}}
                                  <label class="mt-checkbox">
                                      {{#if Monday}}
                                        <input type="checkbox" checked="" class="isMondayCheckbox hasDayVar"> Monday
                                      {{else}}
                                        <input type="checkbox" class="isMondayCheckbox hasDayVar"> Monday
                                      {{/if}}
                                      <span></span>
                                  </label>
                                  <label class="mt-checkbox">
                                    {{#if Tuesday}}
                                      <input type="checkbox" class="hasDayVar isTuesdayCheckbox" checked=""> Tuesday
                                    {{else}}
                                      <input type="checkbox" class="hasDayVar isTuesdayCheckbox"> Tuesday
                                    {{/if}}
                                      <span></span>
                                  </label>
                                  <label class="mt-checkbox">
                                    {{#if Wednesday}}
                                      <input type="checkbox" checked="" class="isWednesdayCheckbox hasDayVar"> Wednesday
                                    {{else}}
                                      <input type="checkbox" class="isWednesdayCheckbox hasDayVar"> Wednesday
                                    {{/if}}
                                      <span></span>
                                  </label>
                                  <label class="mt-checkbox">
                                    {{#if Thursday}}
                                      <input type="checkbox" checked="" class="isThursdayCheckbox hasDayVar"> Thursday
                                    {{else}}
                                      <input type="checkbox" class="hasDayVar isThursdayCheckbox"> Thursday
                                    {{/if}}
                                      <span></span>
                                  </label>
                                  <label class="mt-checkbox">
                                    {{#if Friday}}
                                      <input type="checkbox" checked="" class="isFridayCheckbox hasDayVar"> Friday
                                    {{else}}
                                      <input type="checkbox" class="isFridayCheckbox hasDayVar"> Friday
                                    {{/if}}
                                      <span></span>
                                  </label>
                                  <label class="mt-checkbox">
                                    {{#if Saturday}}
                                      <input type="checkbox" checked="" class="isSaturdayCheckbox hasDayVar"> Saturday
                                    {{else}}
                                      <input type="checkbox" class="isSaturdayCheckbox hasDayVar"> Saturday
                                    {{/if}}
                                      <span></span>
                                  </label>
                                  <label class="mt-checkbox">
                                    {{#if Sunday}}
                                      <input type="checkbox" checked="" class="isSundayCheckbox hasDayVar"> Sunday
                                    {{else}}
                                      <input type="checkbox" class="isSundayCheckbox hasDayVar"> Sunday
                                    {{/if}}
                                      <span></span>
                                  </label>
                                {{else}}
                                  <label class="mt-checkbox mt-checkbox-disabled">
                                      {{#if Monday}}
                                      <input type="checkbox" class="isMondayCheckbox hasDayVar" disabled="" checked=""> Monday
                                      {{else}}
                                        <input type="checkbox" class="isMondayCheckbox hasDayVar" disabled="" > Monday
                                      {{/if}}
                                      <span></span>
                                  </label>
                                  <label class="mt-checkbox mt-checkbox-disabled">
                                      {{#if Tuesday}}
                                      <input type="checkbox" class="isTuesdayCheckbox hasDayVar" disabled="" checked=""> Tuesday
                                      {{else}}
                                        <input type="checkbox" class="isTuesdayCheckbox hasDayVar" disabled="" > Tuesday
                                      {{/if}}
                                      <span></span>
                                  </label>
                                  <label class="mt-checkbox mt-checkbox-disabled">
                                      {{#if Wednesday}}
                                      <input type="checkbox" class="isWednesdayCheckbox hasDayVar" disabled="" checked=""> Wednesday
                                      {{else}}
                                        <input type="checkbox" class="isWednesdayCheckbox hasDayVar" disabled="" > Wednesday
                                      {{/if}}
                                      <span></span>
                                  </label>
                                  <label class="mt-checkbox mt-checkbox-disabled">
                                      {{#if Thursday}}
                                      <input type="checkbox" class="isThursdayCheckbox hasDayVar" disabled="" checked=""> Thursday
                                      {{else}}
                                        <input type="checkbox" class="isThursdayCheckbox hasDayVar" disabled="" > Thursday
                                      {{/if}}
                                      <span></span>
                                  </label>
                                  <label class="mt-checkbox mt-checkbox-disabled">
                                      {{#if Friday}}
                                      <input type="checkbox" class="isFridayCheckbox hasDayVar" disabled="" checked=""> Friday
                                      {{else}}
                                        <input type="checkbox" class="isFridayCheckbox hasDayVar" disabled="" > Friday
                                      {{/if}}
                                      <span></span>
                                  </label>
                                  <label class="mt-checkbox mt-checkbox-disabled">
                                      {{#if Saturday}}
                                      <input type="checkbox" class="isSaturdayCheckbox hasDayVar" disabled="" checked=""> Saturday
                                      {{else}}
                                        <input type="checkbox" class="isSaturdayCheckbox hasDayVar" disabled="" > Saturday
                                      {{/if}}
                                      <span></span>
                                  </label>
                                  <label class="mt-checkbox mt-checkbox-disabled">
                                      {{#if Sunday}}
                                      <input type="checkbox" class="isSundayCheckbox hasDayVar" disabled="" checked=""> Sunday
                                      {{else}}
                                        <input type="checkbox" class="isSundayCheckbox hasDayVar" disabled=""> Sunday
                                      {{/if}}
                                      <span></span>
                                  </label>
                                {{/if}}
                              </div>
                            </div>
                        </div>
                        <div class="form-group">
                          <label class="col-md-3 control-label">Has Date Range ?</label>
                            <div class="col-md-9">
                              <label class="mt-checkbox">
                                  {{#if HasDateRange}}
                                    <input type="checkbox" class="form-control hasDateRangeCheckbox" checked>
                                  {{else}}
                                    <input type="checkbox" class="form-control hasDateRangeCheckbox">
                                  {{/if}}
                                  <span></span>
                              </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Start Date</label>
                            <div class="col-md-4">
                              {{#if HasDateRange}}
                                <input class="form-control startDate mask_date hasDateRangeVar date-picker" type="text" name="StartDate" value="{{startToShowDate}}" date-real="{{StartDate}}">
                              {{else}}
                                <input class="form-control startDate mask_date hasDateRangeVar date-picker" type="text" name="StartDate" value="{{startToShowDate}}" date-real="{{StartDate}}" disabled="">
                              {{/if}}
                            </div>
                            <label class="col-md-2 control-label">End Date</label>
                            <div class="col-md-3">
                              {{#if HasDateRange}}
                                <input class="form-control endDate mask_date hasDateRangeVar date-picker" type="text" name="StopDate" value="{{endToShowDate}}" date-real="{{StopDate}}">
                              {{else}}
                                <input class="form-control endDate mask_date hasDateRangeVar date-picker" type="text" name="StopDate" value="{{endToShowDate}}" date-real="{{StopDate}}" disabled="">
                              {{/if}}
                            </div>
                        </div>
                        <div class="form-group">
                          <label class="col-md-3 control-label">Has Time Range ?</label>
                            <div class="col-md-9">
                              <label class="mt-checkbox">
                                  {{#if HasTimeRange}}
                                    <input type="checkbox" class="form-control hasTimeRangeCheckbox" checked>
                                  {{else}}
                                    <input type="checkbox" class="form-control hasTimeRangeCheckbox">
                                  {{/if}}
                                  <span></span>
                              </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Start Time</label>
                            <div class="col-md-4">
                              {{#if HasTimeRange}}
                                <input class="form-control startTime mask_date hasTimeRangeVar timepicker-24" type="text" name="StartTime" value="{{startToShowTime}}" data-real={{StartTime}}>
                              {{else}}
                                <input class="form-control startTime mask_date hasTimeRangeVar timepicker-24" type="text" name="StartTime" value="{{startToShowTime}}" data-real={{StartTime}} disabled="">
                              {{/if}}
                            </div>
                            <label class="col-md-2 control-label">Stop Time</label>
                            <div class="col-md-3">
                              {{#if HasTimeRange}}
                                <input class="form-control stopTime mask_date hasTimeRangeVar timepicker-24" type="text" name="StopTime" value="{{endToShowTime}}" data-real={{StopTime}}>
                              {{else}}
                                <input class="form-control stopTime mask_date hasTimeRangeVar timepicker-24" type="text" name="StopTime" value="{{endToShowTime}}" data-real={{StopTime}} disabled="">
                              {{/if}}
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-7 col-md-5 text-right">
                              <a class="resetComp1 btn red-soft" data-type={{Type}} data-id="{{Id}}" style="display:inline-block">SIFIRLA</a>
                                <button type="submit" class="btn  blue-madison" data-type={{Type}} data-id="{{Id}}">KAYDET</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
      </div>
      </div>
    </div>
</div>
<!-- END CONTENT BODY -->
