<!-- BEGIN CONTENT BODY -->
<div class="page-content" style="padding-top:0">
    <div class="row">
      <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="{{icon}} font-dark"></i>
                    <span class="caption-subject font-dark sbold uppercase">  {{Name}}</span>
                    <input type="hidden" id="cType" value="{{cType}}">
                </div>
                <span class="font-dark sbold uppercase componentDetails">{{Type}} Details</span>
            </div>
            <div class="portlet-body form">
                <form class="form-horizontal compForm" role="form">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Name</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" placeholder="{{Type}} Adi" value="{{Name}}" name="Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Comment</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" placeholder="{{Type}} Comment" value="{{Description}}" name="Description">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Control Uri</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" placeholder="{{Type}} Control URI" value="{{ControlUri}}" name="ControlUri">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Monitor Uri</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" placeholder="{{Type}} Monitor URI" value="{{MonitorUri}}" name="MonitorUri">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Db Connection String</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" placeholder="{{Type}} Db Connection String" value="{{DbConnectionString}}" name="DbConnectionString">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Capacity</label>
                            <div class="col-md-9">
                                <input type="number" class="form-control" placeholder="Capacity" min="0" max="10000" value="{{Capacity}}" name="Capacity">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">EndPoint(s)</label>
                            <div class="col-md-9">
                              <select class="ivrEndpointsList" multiple="multiple">
                               {{#each ivrEndpoints}}
                                    <option value="{{Id}}">{{Name}}</option>
                               {{/each}}
                              </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Connection Status</label>
                            <div class="col-md-9">
                                {{#if Connected}}
                                    <i class="fa fa-check" style="color:green;margin-top:10px;"></i>
                                {{else}}
                                    <i class="fa fa-times" style="color:red;margin-top:10px;"></i>
                                {{/if}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Projects</label>
                            <div class="col-md-9">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th> Ivr Project </th>
                                            <th> Server Version </th>
                                            <th> System Version </th>
                                            <th> Update </th>
                                            <th> Monitor</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each ProjectDetails}}
                                        <tr>
                                            <td>
                                                <input type="text" class="form-control" value="{{ProjectName}}" disabled>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" value="{{ServerVersion}}" disabled>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" value="{{SystemVersion}}" disabled>
                                            </td>
                                            <td>
                                                {{#if Connected}}
                                                    {{#if UpToDate}}
                                                        <i class="fa fa-check" style="color:green;margin-top:10px;"></i>
                                                    {{else}}
                                                        <a class="updateServer" href="#" data-projectId="{{ProjectId}}" data-serverId="{{ServerId}}"> Update </a>
                                                    {{/if}}
                                                {{else}}
                                                    <i class="fa fa-times" style="color:red;margin-top:10px;"></i>
                                                {{/if}}
                                               
                                            </td>
                                            <td>
                                                {{#if Connected}}
                                                    <a class="monitorServer" href="#"> Monitor </a>
                                                    <input type="hidden" class="form-control" value="{{ProjectId}}">
                                                {{else}}
                                                    <i class="fa fa-times" style="color:red;margin-top:10px;"></i>
                                                {{/if}}
                                            </td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-7 col-md-5 text-right">
                                <a class="removeComp1 btn red-soft" data-type={{Type}} data-id="{{Id}}" style="display:inline-block">Remove</a>
                              <a class="resetComp1 btn green-soft" data-type={{Type}} data-id="{{Id}}" style="display:inline-block">Cancel</a>
                                <button type="submit" class="btn  blue-madison" data-type={{Type}} data-id="{{Id}}">Save</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
      </div>
      </div>
    </div>
</div>
<!-- END CONTENT BODY -->
